<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <a class="navbar-brand" href="https://ancient-caverns-33294.herokuapp.com/projects">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
    </ul>
    
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
  </div>
</nav>



<p id="notice"><%= notice %></p>



<h1>Projects</h1>

<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  -->


  

  <tbody>
    <% @projects.each do |project| %>
      <tr>
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Title: <%= project.title %></h5>
        <p class="card-text">Description: <%= project.description %></p>
        <!-- <button type="button" class="btn btn-success">View</button> -->
        <%= link_to 'View', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?' } %>
        <!-- <button type="button" class="btn btn-primary">Edit</button> -->
        <!-- <button href="#" type="button" class="btn btn-danger">Delete</button> -->
      </div>
      </div>


      <!--
        <td><%= project.title %>     </td>
        <td><%= project.description %></td>
        <td><%= link_to 'View', project %> | </td>
        <td><%= link_to 'Edit', edit_project_path(project) %> | </td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?' } %></td>
      -->

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
